@import './base/common';
@import './components/header';
@import './components/gallery';
@import './components/btn';
@import './layouts/section';

.pnotify {
    padding-top: 100px;
}

.pnotify-container {
    background-color: #F08080;
}

.pnotify-title {
    font-size: 24px;
    font-weight: 500;
}

.pnotify-pre-line {
    color: #d6ffff;
}